html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  /* This defines what 1rem is */
  /* 1 rem = 11.1px; 10px/16px = 62.5% */
  font-size: 69.5%;

  box-sizing: border-box;
  color: var(--primary-text);
}

a:link,
a:visited,
a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--colors-accent-400);
  color: var(--white);
}

.btn {
  display: inline-block;
  height: 50px;
  width: 151px;
  font-size: 1.2rem;
  color: var(--white);
  background-color: var(--white);
  border: none;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  cursor: pointer;
}

/* TODO: add dark/light theme  */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

:root {
  --blue-60: #0060df;
  --blue-70: #003eaa;
  --gray-20: #ededf0;
  --light-gray: #f0f0f4;
  --white: #fff;
  --transition: all 0.15s cubic-bezier(0.07, 0.95, 0, 1);
  --transition-2: all 0.2s ease-in-out;
  --borders: 1px solid #ededf0;
  --primary-text: #15141a;
  --secondary-text: #5b5b66;
  --font-size: 13px;
  --navbar-height: 89px;
  --section-height: calc(100vh - var(--navbar-height));

  --border-radius: 4px;
  --border-radius-m: 14px;
  --border-radius-xl: 40px;

  --paper-light-blue-50: #e1f5fe;
  --paper-light-blue-100: #b3e5fc;
  --paper-light-blue-200: #81d4fa;
  --paper-light-blue-300: #4fc3f7;
  --paper-light-blue-400: #29b6f6;
  --paper-light-blue-500: #37a7e9;
  --paper-light-blue-600: #039be5;
  --paper-light-blue-700: #0288d1;
  --paper-light-blue-800: #0277bd;
  --paper-light-blue-900: #01579b;
  --paper-light-blue-a100: #80d8ff;
  --paper-light-blue-a200: #40c4ff;
  --paper-light-blue-a400: #00b0ff;
  --paper-light-blue-a700: #0091ea;

  --paper-yellow-50: #fffde7;
  --paper-yellow-100: #fff9c4;
  --paper-yellow-200: #fff59d;
  --paper-yellow-300: #fff176;
  --paper-yellow-400: #ffee58;
  --paper-yellow-500: #ffeb3b;
  --paper-yellow-600: #fdd835;
  --paper-yellow-700: #fbc02d;
  --paper-yellow-799: #f9b90f;
  --paper-yellow-800: #f9a825;
  --paper-yellow-900: #f57f17;
  --paper-yellow-a100: #ffff8d;
  --paper-yellow-a200: #ffff00;
  --paper-yellow-a400: #ffea00;
  --paper-yellow-a700: #ffd600;

  --paper-grey-50: #fafafa;
  --paper-grey-100: #f5f5f5;
  --paper-grey-200: #eeeeee;
  --paper-grey-300: #e0e0e0;
  --paper-grey-400: #bdbdbd;
  --paper-grey-500: #9e9e9e;
  --paper-grey-600: #757575;
  --paper-grey-700: #616161;
  --paper-grey-800: #424242;
  --paper-grey-900: #212121;
  --paper-blue-grey-50: #eceff1;
  --paper-blue-grey-100: #cfd8dc;
  --paper-blue-grey-200: #b0bec5;
  --paper-blue-grey-300: #90a4ae;
  --paper-blue-grey-400: #78909c;
  --paper-blue-grey-500: #607d8b;
  --paper-blue-grey-600: #546e7a;
  --paper-blue-grey-700: #455a64;
  --paper-blue-grey-800: #37474f;
  --paper-blue-grey-900: #263238;

  /* darkest grey - used for headings */
  --clr-grey-1: #102a42;
  --clr-grey-2: #243a52;
  --clr-grey-3: #324d67;
  --clr-grey-4: #48647f;
  /* grey used for paragraphs */
  --clr-grey-5: #617d98;
  --clr-grey-6: #829ab0;
  --clr-grey-7: #9eb2c7;
  --clr-grey-8: #bcccdc;
  --clr-grey-9: #dae2ec;
  --clr-grey-10: #f1f5f8;

  --clr-primary-1: #063251;
  --clr-primary-2: #104e7a;
  --clr-primary-3: #1a6aa2;
  --clr-primary-4: #2d87c8;
  --clr-primary-5: #49a6e9;
  --clr-primary-6: #6ebef7;
  --clr-primary-7: #8bcbf9;
  --clr-primary-8: #a5d5f8;
  --clr-primary-9: #c5e5fc;
  --clr-primary-10: #ebf7ff;

  --colors-accent-40: #37a7e9;
  --colors-accent-50: #ebf8ff;
  --colors-accent-100: #bee3f8;
  --colors-accent-200: #90cdf4;
  --colors-accent-300: #63b3ed;
  --colors-accent-400: #4299e1;
  --colors-accent-500: #3182ce;
  --colors-accent-600: #2b6cb0;
  --colors-accent-601: #18458b;
  --colors-accent-700: #2c5282;
  --colors-accent-800: #2a4365;
  --colors-accent-900: #1a365d;
}
